<app-header></app-header>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-1">
    <div class="d-flex flex-column align-items-center justify-content-center text-center" style="min-height: 100px;">
        <!-- <h1 class="font-weight-semi-bold text-uppercase mb-3 mt-3">Our Shop</h1> -->
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/home">Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0"><a routerLink="/detail/{{product?._id}}">Detail</a></p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100 img-cover" src="{{product?.image[0]}}" alt="Image">
                    </div>
                    <div class="carousel-item" *ngFor="let img of product?.image.slice(1)">
                        <img class="w-100 h-100 img-cover" [src]="img" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{product?.name | json}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">{{ product?.price | number: '1.0-0'}} VNĐ</h3>
            <!-- <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
                <form>
                    <div class="custom-control custom-radio custom-control-inline" *ngFor="let variant of product?.variants">
                        <input type="radio" class="custom-control-input" [id]="'color-' + variant.color" name="color" (change)="selectVariant(variant)">
                        <label class="custom-control-label" [for]="'color-' + variant?.color">{{ variant.color }}</label>
                    </div>
                </form>
            </div> -->

            <div class="d-flex align-items-center mb-4 pt-2">
                <button class="btn btn-primary px-3" (click)="addToCart(product)"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>

            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="https://www.facebook.com/profile.php?id=61566602871136" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p class="product-description">{{product?.description}}</p>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <app-review [productId]="product?.id"></app-review>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->

<app-footer></app-footer>
