.product-description {
    /* white-space: pre-line; */
    /* Giữ lại các ký tự ngắt dòng '\n' */
}

.btn-danger {
    background-color: black;
    border-color: black;
}

.btn-danger:hover {
    background-color: #e61e43;
    border-color: #e61e43;
}

:host {
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  .img-cover {
    object-fit: cover;
    height: 400px;
  }
  .img-thumbnail {
    transition: border-color 0.2s ease-in-out;
  }
  .img-thumbnail:hover {
    border-color: #007bff;
  }
  .image-list-container {
    position: relative;
    width: 100%;
  }
  .image-list-wrapper {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  .image-list {
    display: flex;
    transition: transform 0.3s ease;
  }
  .btn-outline-dark {
    z-index: 10;
  }
  .variant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .variant-item {
    flex: 0 0 auto;
  }
  
  .variant-card {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 150px;
  }
  
  .variant-card.selected {
    border-color: #007bff;
  }
  
  .variant-image-container {
    width: 100px;
    height: 60px;
    margin-right: 12px;
  }
  
  .variant-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .variant-info {
    display: flex;
    flex-direction: column;
  }
  
  .variant-size {
    font-weight: bold;
    margin: 0;
  }
  
  .variant-color {
    font-size: 0.9em;
    color: #6c757d;
    margin: 0;
  }

  /* Related Product */
  .related-products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nz-carousel {
    margin-top: 20px;
  }
  
  [nz-carousel-content] {
    text-align: center;
    height: 400px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }
  
  nz-card {
    width: 240px;
    margin: 0 auto;
  }
  
  nz-card-meta {
    text-align: center;
    margin-bottom: 16px;
  }
  
  [nz-button] {
    margin: 0 4px;
  }