<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <div *ngIf="isAdAvailable">
                <app-adsensebanner></app-adsensebanner>
            </div>
            <a href="" class="text-decoration-none">
                <img class="mb-4" src="nintshop_img/logo1.jpg" alt="Nint Shop" style="width: 250px; height: 150px">
                <!-- <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">N</span>intShop</h1> -->
            </a>
            <!-- <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p> -->
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Ngô Thì Nhậm, Dĩ An, Bình Dương</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info&#64;nintshop.com</p>
            <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 931881584 (Mr. Hoàng)</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 378377099 (Mr. Thắng)</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">{{ 'WORK_HOURS' | translate}}</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href=""><strong>{{ 'MONDAY' | translate}} - {{ 'SATURDAY' | translate}}:</strong></a>
                        <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>08.00 hour - 20.00 hour</a>
                        <a class="text-dark mb-2" href=""><strong>{{ 'SUNDAY' | translate}}:</strong></a>
                        <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>{{ 'OFF' | translate}}</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">{{ 'Quick_Links' | translate}}</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" routerLink="/home"><i class="fa fa-angle-right mr-2"></i>{{ 'HOME' | translate}}</a>
                        <a class="text-dark mb-2" routerLink="/shop"><i class="fa fa-angle-right mr-2"></i>{{ 'SHOP' | translate}}</a>
                        <a class="text-dark mb-2" routerLink="/cart"><i class="fa fa-angle-right mr-2"></i>{{ 'CART' | translate}}</a>
                        <a class="text-dark mb-2" routerLink="/checkout"><i class="fa fa-angle-right mr-2"></i>{{ 'CHECK_OUT' | translate}}</a>
                        <a class="text-dark mb-2" routerLink="/contact"><i class="fa fa-angle-right mr-2"></i>{{ 'CONTACT' | translate}}</a>
                        <a class="text-dark mb-2" routerLink="/faqs"><i class="fa fa-angle-right mr-2"></i>FAQs</a>
                        <!-- <a class="text-dark mb-2" routerLink="/support-chat"><i class="fa fa-angle-right mr-2"></i>Support</a> -->
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <app-message></app-message>
                    <h5 class="font-weight-bold text-dark mb-4">{{ 'Newsletter' | translate}}</h5>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="{{ 'Your_Name' | translate}}" id="name" formControlName="name" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="{{ 'Your_Email' | translate}}" id="email" formControlName="email" required/>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit" [disabled]="!contactForm.valid">{{ 'Subscribe_Now' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">nintshop.com</a>. {{ 'COPY_RIGHT' | translate}}. {{ 'DESIGNED' | translate}}
                <a class="text-dark font-weight-semi-bold">Phan Hoang</a><br>
                {{ 'DEVELOPED' | translate}} <a target="_blank">PHGroup</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt="">
        </div>
    </div>
  </div>
  <app-chatbox></app-chatbox>
  <!-- Footer End -->
  