<div class="card mb-4">
    <div class="card-body">
        <img src="img/carousel-2.jpg" alt="Post Image" class="img-fluid mb-3">
      <!-- <img *ngIf="post.image" [src]="post.image" alt="Post Image" class="img-fluid mb-3"> -->
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.content }}</p>
    </div>
  
    <div class="card-footer d-flex justify-content-between">
      <!-- Like, Comment, and Share buttons -->
      <div class="actions">
        <button class="btn btn-outline-primary mr-2" (click)="likePost(post)">
          <i class="fa fa-thumbs-up"></i> Thích
        </button>
        <button class="btn btn-outline-secondary mr-2" (click)="commentOnPost(post)">
          <i class="fa fa-comment"></i> Bình luận
        </button>
        <button class="btn btn-outline-secondary" (click)="sharePost(post)">
          <i class="fa fa-share"></i> Chia sẻ
        </button>
      </div>
      <!-- Post Likes and Comments Count -->
      <div class="stats">
        <span>{{ post.likes }} lượt thích</span> 
        <!-- | <span>{{ post.comments.length }} bình luận</span> -->
      </div>
    </div>
  </div>
  