<div class="row px-xl-5">
  <app-message></app-message>
  <div class="col">
    <!-- Tabs for Product and Order -->
    <ul class="nav nav-tabs justify-content-center border-secondary mb-4">
      <li class="nav-item">
        <a (click)="toggleTab()" class="nav-link active" data-toggle="tab" href="#product-tab"
          >Product</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#order-tab">Order</a>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Product Tab -->
      <div class="tab-pane fade show active" id="product-tab">
        <div class="container mt-5">
          <div *ngIf="!showManageProducts">
            <!-- Button to toggle Manage Products -->
            <button
              class="btn btn-primary mb-4"
              (click)="toggleManageProducts()"
            >
              Add New Product
            </button>
            <!-- Product List -->
            <h2 class="mb-4">Product List</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let product of products">
                    <tr>
                      <td>
                        <button
                          class="btn btn-sm btn-outline-primary"
                          (click)="onExpandChange(product._id)"
                        >
                          <i
                            class="fas"
                            [ngClass]="{
                              'fa-chevron-down':
                                expandedProductId !== product._id,
                              'fa-chevron-up': expandedProductId === product._id
                            }"
                          ></i>
                        </button>
                      </td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.price }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>
                        <ng-container *appHasRole="'WRITE'">
                          <button
                            class="btn btn-sm btn-info"
                            (click)="startEdit(product._id)"
                            *ngIf="editingProductId !== product._id"
                            (click)="toggleEditProducts()"
                          >
                            <i class="fas fa-edit"></i> Edit
                          </button>
                        </ng-container>
                        <ng-container *appHasRole="'ADMIN'">
                          <button
                            class="btn btn-sm btn-danger ml-2"
                            (click)="deleteProduct(product._id)"
                            *ngIf="editingProductId !== product._id"
                          >
                            <i class="fas fa-trash"></i> Delete
                          </button>
                        </ng-container>
                      </td>
                    </tr>
                    <tr *ngIf="expandedProductId === product._id">
                      <td colspan="6">
                        <div class="p-3">
                          <h5>Description</h5>
                          {{ product.description }}
                          <h5>Preview Images</h5>
                          <div class="d-flex flex-wrap">
                            <div *ngFor="let imageUrl of product.image">
                              <img
                                [src]="imageUrl"
                                alt="Product Image"
                                width="100"
                                height="100"
                              />
                              <button
                                type="button"
                                class="btn btn-danger btn-sm"
                                (click)="markImageForDeletion(imageUrl)"
                              >
                                <i class="fas fa-trash"></i> Delete
                              </button>
                            </div>
                          </div>
                          <h5 class="mt-3">Variants</h5>
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Stock</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let variant of product.variants">
                                <td>{{ variant.size }}</td>
                                <td>{{ variant.color }}</td>
                                <td>{{ variant.stock }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="col-12 pb-1">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mb-3">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a
                      class="page-link"
                      (click)="changePage(currentPage - 1)"
                      aria-label="Previous"
                      [attr.aria-disabled]="currentPage === 1"
                    >
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li
                    class="page-item"
                    *ngFor="let page of totalPages()"
                    [class.active]="currentPage === page"
                  >
                    <a class="page-link" (click)="changePage(page)">{{
                      page
                    }}</a>
                  </li>
                  <li
                    class="page-item"
                    [class.disabled]="currentPage === totalPages().length"
                  >
                    <a
                      class="page-link"
                      (click)="changePage(currentPage + 1)"
                      aria-label="Next"
                      [attr.aria-disabled]="currentPage === totalPages().length"
                    >
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!-- Manage Products Section -->
        <div *ngIf="showManageProducts">
          <div class="container mt-5">
            <button
              class="btn btn-primary mb-4"
              (click)="toggleManageProducts()"
            >
              Show list product
            </button>
            <h2 class="mb-4">
              {{ isEditing ? "Edit Product" : "Add New Product" }}
            </h2>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <!-- Product Name -->
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input
                  type="text"
                  id="productName"
                  formControlName="name"
                  class="form-control"
                  placeholder="Enter product name"
                  required
                />
                <div
                  *ngIf="
                    productForm.get('name')?.invalid &&
                    productForm.get('name')?.touched
                  "
                  class="text-danger"
                >
                  Product name is required.
                </div>
              </div>

              <!-- Product Description -->
              <div class="form-group">
                <label for="productDescription">Product Description</label>
                <textarea
                  id="productDescription"
                  formControlName="description"
                  class="form-control"
                  rows="3"
                  placeholder="Enter product description"
                  required
                ></textarea>
                <div
                  *ngIf="
                    productForm.get('description')?.invalid &&
                    productForm.get('description')?.touched
                  "
                  class="text-danger"
                >
                  Product description is required.
                </div>
              </div>

              <!-- Product Price -->
              <div class="form-group">
                <label for="productPrice">Product Price</label>
                <input
                  type="number"
                  id="productPrice"
                  formControlName="price"
                  class="form-control"
                  placeholder="Enter product price"
                  required
                />
                <div
                  *ngIf="
                    productForm.get('price')?.invalid &&
                    productForm.get('price')?.touched
                  "
                  class="text-danger"
                >
                  Product price is required.
                </div>
              </div>

              <!-- Image Management Section -->
              <div class="form-group">
                <label for="productImages">Product Images</label>
                <div class="image-grid">
                  <div
                    *ngFor="let image of imagePreviews; let i = index"
                    class="image-item"
                  >
                    <img
                      [src]="image.url"
                      alt="Product Image"
                      class="img-thumbnail"
                    />
                    <div class="image-actions">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="removeImage(i)"
                        title="Delete Image"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-success mt-2">
                  Add Image
                </button>
              </div>

              <!-- Variant Management Section -->
              <div class="form-group">
                <label for="productVariants">Product Variants</label>
                <div class="variant-grid">
                  <div
                    *ngFor="let variant of variants.controls; let i = index"
                    class="variant-item"
                  >
                    <input
                      type="text"
                      [(ngModel)]="variant.value.name"
                      placeholder="Variant Name"
                      class="form-control mb-2"
                    />
                    <input
                      type="number"
                      [(ngModel)]="variant.value.price"
                      placeholder="Variant Price"
                      class="form-control mb-2"
                    />
                    <div class="variant-actions">
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="removeVariant(i)"
                        title="Delete Variant"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-success mt-2"
                  (click)="addVariant()"
                >
                  Add Variant
                </button>
              </div>

              <!-- Submit Button -->
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="productForm.invalid"
              >
                {{ isEditing ? "Update Product" : "Create Product" }}
              </button>
              <button
                *ngIf="isEditing"
                type="button"
                class="btn btn-secondary ml-2"
                (click)="stopEdit()"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Order Tab -->
      <div class="tab-pane fade" id="order-tab">
        <div class="container mt-5">
          <h2 class="mb-4">Order Management</h2>
          <!-- Form to update order status -->
          <form
            [formGroup]="orderForm"
            (ngSubmit)="onSubmitOrder()"
            class="mb-5"
          >
            <div class="mb-3">
              <label for="orderId" class="form-label">Order ID</label>
              <input
                type="text"
                class="form-control"
                id="orderId"
                formControlName="_id"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="orderStatus" class="form-label">Order Status</label>
              <select
                class="form-select"
                id="orderStatus"
                formControlName="status"
                required
              >
                <option
                  *ngFor="let status of getStatusValues()"
                  [value]="status"
                >
                  {{ status | titlecase }}
                </option>
              </select>
            </div>

            <ng-container *appHasRole="'WRITE'">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!orderForm.valid"
              >
                Update Status
              </button>
            </ng-container>
          </form>
          <!-- Order List -->
          <h3 class="mt-5">Order List</h3>
          <div class="table-responsive order-list-container">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Customer Name</th>
                  <th>Status</th>
                  <th>Total Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let order of orders">
                  <tr>
                    <td>{{ order._id }}</td>
                    <td>{{ order.orderId }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.totalPrice | number : "1.0-0" }} vnđ</td>
                    <td>
                      <ng-container *appHasRole="'WRITE'">
                        <button
                          class="btn btn-sm btn-info"
                          (click)="editOrder(order)"
                        >
                          <i class="fas fa-edit"></i> Edit
                        </button>
                      </ng-container>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
