<!-- <section class="error-page">
	<div class="center">
		<div class="block text-center">
			<h2><strong>404</strong></h2>
			<h3>Không tìm thấy trang</h3>
			<p>Không tìm thấy trang hoặc
                <br>trang có thể đã bị xóa.</p>
			<a [routerLink]="['/home']" class="btn btn-primary">Quay về trang chủ</a>
		</div>
	</div>
</section> -->

<!-- Halloween UI -->
<div class="maincontainer">
	<div class="bat">
	  <img class="wing leftwing" 
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	  <img class="body"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
	  <img class="wing rightwing"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	</div>
	<div class="bat">
	  <img class="wing leftwing" 
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	  <img class="body"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
	  <img class="wing rightwing"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	</div>
	<div class="bat">
	  <img class="wing leftwing" 
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	  <img class="body"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-body.png" alt="bat">
	  <img class="wing rightwing"
		   src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/bat-wing.png">
	</div>
	<img class="foregroundimg" src="https://aimieclouse.com/Media/Portfolio/Error403Forbidden/HauntedHouseForeground.png" alt="haunted house">
	
  </div>
  <h1 class="errorcode">ERROR 403</h1>
  <div class="errortext">This area is forbidden. Turn back now!</div>