<div class="row">
  <!-- Phần hiển thị đánh giá -->
  <div class="col-md-6">
    <h4 class="mb-4">{{ reviews.length }} review(s) for "{{ products?.name || 'Product' }}"</h4>

    <!-- Hiển thị danh sách đánh giá -->
    <div *ngFor="let review of reviews" class="media mb-4">
      <nz-avatar [nzSrc]="users?.avatar || 'nintshop_img/default.png'" nzShape="circle" nzSize="large"></nz-avatar>
      <div class="media-body ml-3">
        <h6>{{ users?.username }} 
          <small> - <i>{{ review?.createdAt | date: 'mediumDate' }}</i></small>
        </h6>
        <nz-rate [ngModel]="review.rating" nzDisabled></nz-rate>
        <p>{{ review?.comment }}</p>
      </div>
    </div>
  </div>

  <!-- Form gửi đánh giá -->
  <div class="col-md-6">
    <h4 class="mb-4">Leave a review</h4>
    <small>Your email address will not be published. Required fields are marked *</small>

    <!-- Chọn rating -->
    <div class="d-flex my-3 align-items-center">
      <p class="mb-0 mr-2">Your Rating * :</p>
      <nz-rate [(ngModel)]="newReview.rating" (ngModelChange)="setRating($event)"></nz-rate>
    </div>

    <!-- Form -->
    <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
      <nz-form-item>
        <nz-form-label [nzFor]="'message'">Your Review *</nz-form-label>
        <nz-form-control>
          <textarea formControlName="comment" id="message" cols="30" rows="5" nz-input></textarea>
          <div *ngIf="reviewForm.controls['comment'].invalid && reviewForm.controls['comment'].touched" class="text-danger">
            Review is required.
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="reviewForm.invalid">Leave Your Review</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
