<div class="row">
    <div class="col-md-6">
        <h4 class="mb-4">{{ reviews.length }} review(s) for "Product Name"</h4>
        <div *ngFor="let review of reviews" class="media mb-4">
            <img [src]="review.userId.avatar" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
            <div class="media-body">
                <h6>{{ review.userId.name }}<small> - <i>{{ review.createdAt | date }}</i></small></h6>
                <div class="text-primary mb-2">
                    <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fa-star"
                        [ngClass]="{'fas': star <= review.rating, 'far': star > review.rating}"></i>
                </div>
                <p>{{ review.comment }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="mb-4">Leave a review</h4>
        <small>Your email address will not be published. Required fields are marked *</small>
        <div class="d-flex my-3">
            <p class="mb-0 mr-2">Your Rating * :</p>
            <div class="text-primary">
                <i class="far fa-star" (click)="newReview.rating = 1"></i>
                <i class="far fa-star" (click)="newReview.rating = 2"></i>
                <i class="far fa-star" (click)="newReview.rating = 3"></i>
                <i class="far fa-star" (click)="newReview.rating = 4"></i>
                <i class="far fa-star" (click)="newReview.rating = 5"></i>
            </div>
        </div>
        <form (ngSubmit)="submitReview()">
            <div class="form-group">
                <label for="message">Your Review *</label>
                <textarea [(ngModel)]="newReview.comment" name="comment" id="message" cols="30" rows="5"
                    class="form-control"></textarea>
            </div>
            <div class="form-group mb-0">
                <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
            </div>
        </form>
    </div>
</div>