<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Đăng ký tài khoản</h5>
            <form (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <label for="floatingInput">User name</label>
                <input type="email" class="form-control" id="username" formControlName="username">
              </div>
              <div class="form-floating mb-3">
                <label for="floatingInput">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              </div>
              <div class="form-floating mb-3">
                <label for="floatingInput">Mật khẩu</label>
                <input type="password" class="form-control" id="password" formControlName="password">
              </div>
              <div class="form-floating mb-3">
                <label for="floatingPassword">Nhập lại mật khẩu</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <a href="/home" class="link-primary float-end">Quên mật khẩu?</a>
              </div>
              <button type="submit" class="btn btn-lg btn-primary mt-3 w-100">Đăng ký</button>
            </form>
            <div class=" social-login">
              <p>Or sign up with:</p>
              <button class="btn btn-light social-btn">
                <i class="fab fa-google"></i>
              </button>
              <button class="btn btn-light social-btn">
                <i class="fab fa-twitter"></i>
              </button>
            </div>
            <hr>
            <p class="text-center">Đã có tài khoản đăng nhập? <a [routerLink]="['/login']">Tại đây</a></p>
          </div>
        </div>
      </div>
    </div>
</div>