<div class="container">
    <div class="layout">

        <!-- Main content area (2/3 width) -->
        <div class="main-content">
            <!-- Blog post -->
            <article class="blog-post">
                <h1>{{ blog.title }}</h1>
                <div class="post-header">
                    <p class="author">Tác giả: {{ blog.author }}</p>
                    <div class="post-info">
                        <p class="post-date">Ngày đăng: {{ blog.createdAt | date: 'dd-MM-yyyy' }}</p>
                        <p class="view-count">Lượt xem: {{ blog.viewCount }}</p>
                    </div>
                </div>

                <app-table-of-contents [sections]="blog.sections"></app-table-of-contents>

                <div class="post-content">
                    <section *ngFor="let section of blog.sections; let i = index" [id]="'section-' + i">
                        <h2>{{ section.title }}</h2>
                        <div [innerHTML]="section.content"></div>

                        <div *ngIf="section.videoUrl" class="video-container">
                            <iframe [src]="getSafeUrl(section.videoUrl)" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div *ngIf="section.imageUrl" class="image-container">
                            <img [src]="section.imageUrl" alt="Section image" />
                        </div>
                    </section>
                    <app-adsensebanner></app-adsensebanner>  
                </div>
            </article>

            <!-- Comments section -->
            <div class="comments-section">
                <app-comment-blog></app-comment-blog>
            </div>
        </div>

        <!-- Sidebar (1/3 width) -->
        <div class="sidebar">
            <!-- Banner or Image -->
            <div class="banner">
                <!-- <h2>Quảng cáo</h2> -->
                <a href="https://www.ssi.com.vn/khach-hang-ca-nhan/mo-tai-khoan?mgm=2581&fbclid=IwY2xjawGEveBleHRuA2FlbQIxMAABHemiQHLgNV5Yii6P4cm0xNCQ-lFczMWbbFKWifxpNWgeM7Pw0gKB4nV-3A_aem_24YsoQAQZ3nHqj2qJ9ABqQ"
                    target="_blank">
                    <img src="img/Logo-SSI.jpg" alt="SSI" class="banner-image" />
                </a>
            </div>
            <div class="banner">
                <app-adsensebanner></app-adsensebanner>  
            </div>
            <!-- Related posts -->
            <div class="related-posts">
                <h2>Bài viết liên quan</h2>
                <ul class="related-post-list">
                    <li *ngFor="let post of relatedPosts" class="related-post-item">
                        <a href="/blog/{{post._id}}" class="related-post-link">
                            <img [src]="post.imageUrl" alt="{{ post.title }}" class="related-post-thumbnail" />
                            <div class="related-post-info">
                                <p class="related-post-title">{{ post.title }}</p>
                                <p class="related-post-author">Tác giả: {{ post.author }}</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <button (click)="showMore()" class="show-more-btn">Xem thêm</button>
            </div>          
        </div>
    </div>
</div>