<!-- <form nz-form [formGroup]="videoForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input the title">
        <input nz-input formControlName="title" placeholder="Video/Lesson title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Description</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }" placeholder="Video/Lesson description"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Video URL</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid URL">
        <input nz-input formControlName="url" placeholder="https://example.com/video.mp4" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Thumbnail URL</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid URL">
        <input nz-input formControlName="thumbnailUrl" placeholder="https://example.com/thumbnail.jpg" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Duration (seconds)</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input a valid duration">
        <nz-input-number formControlName="duration" [nzMin]="0" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Is German Lesson</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-switch formControlName="isGermanLesson"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="videoForm.get('isGermanLesson')?.value">
      <nz-form-label [nzSpan]="6">Transcript</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <div formArrayName="transcript">
          <div *ngFor="let control of transcriptControls.controls; let i = index" [formGroupName]="i" style="display: flex; margin-bottom: 8px;">
            <nz-input-number formControlName="start" [nzMin]="0" [nzStep]="0.1" [nzPlaceHolder]="'Start'"></nz-input-number>
            <nz-input-number formControlName="end" [nzMin]="0" [nzStep]="0.1" [nzPlaceHolder]="'End'"></nz-input-number>
            <input nz-input formControlName="text" placeholder="Transcript text" />
            <button nz-button nzType="default" nzShape="circle" (click)="removeTranscriptItem(i)">
              <i nz-icon nzType="minus"></i>
            </button>
          </div>
        </div>
        <button nz-button (click)="addTranscriptItem()">Add Transcript Item</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" [disabled]="videoForm.invalid">Submit</button>
        <button nz-button (click)="cancel()" style="margin-left: 8px;">Cancel</button>
      </nz-form-control>
    </nz-form-item>
  </form> -->